.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  margin: 0px 0px 35px;
}

.productItem > * {
  justify-content: space-between;
}

.productItem > .productPicture {
  width: 100px;
  height: 100px;
  text-align: center;
}

.productPicture > .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.productPicture > img {
  height: 80%;
  width: auto;
  vertical-align: middle;
}

.productDetail {
  width: 250px;
}

.productDetail > * {
  display: block;
  margin: 0px 0px 5px;
}

.productDetail > .productName {
  font-weight: 600;
}

.productDetail > .productDescription {
  color: rgba(160, 160, 160, 1);
}

.productDetail > .productPrice {
  font-weight: 800;
}

.productItem > .productAction {
  text-align: right;
}

.productAction > button {
  padding: 7px 10px;
  border: 0px;
  background-color: #00b894;
  font-size: 1em;
  color: white;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}